<!-- <button class="btn btn-link text-danger" onclick="event.preventDefault(); document.getElementById('form-delete').submit()">Delete</button>
                        <form action="/blog/<%= article.id %>?_method=DELETE" id="form-delete" method="POST"></form> -->